@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
body{
	font-family: 'Open Sans', sans-serif;
	background-image: url('../img/leafbg.png');
	background-repeat: no-repeat;	
	height:100vh;
	background-position: center;
	background-size: cover;
}
.main{
	color: #28292A;
	max-width: 1200px;
	margin: 0 auto;
}
.text-center{
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}
.logo img{
	display: block;
	margin: auto;
    margin-top: 30px;  
	padding:12px;
	height: 80px;
	width:80px;	
}
#contact{
	margin-top: 100px;
}
#signup, #signin, #contactform, #contactinfo{
	background-color: #deeceab7;
	box-shadow: 1px 1px 3px rgba(148, 231, 211, 0.2);
	margin: auto;
	padding: 10px;
	width: 500px;
	border-radius: 10px;
}
.form-inline{
	width:380px;
	margin:auto;
}
.form-inline input{
	margin: auto;
	border-radius:5px; 
	height: 50px;
	width:160px !important;
	padding: 12px;
	border:1px solid #ffffff;
	
}
input, textarea{	
	margin: auto;
	margin-top: 20px;
	border:1px solid #ffffff;
	height: 50px;
	width:350px;
	padding: 12px;
	display: block;
	border-radius:5px; 
}
#check{
	margin: 6px 10px;
	height:auto;
	width: auto;
}
label{
	margin:0 10px ;
	padding: 0 10px;
}
#contactinfo{

	margin-bottom: 20px;
	padding: 5px;
}
#contactform{
	margin-top:30px;
	padding: 30px 12px;
}
#contactform #msg{
	height: 70px;
	max-height: 100px;
}
.btn-primary{
	font-size: 14px;
	width:150px;
	font-weight: bold;
	padding: 12px;
	color: #ffffff;
	background-color: #8BCF7B !important;
	border:2px solid #8BCF7B !important;
	border-radius: 4px;
	margin: 20px auto;
}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus{
	background-color: #2B605E !important;
	border:2px solid  #2B605E !important;
	box-shadow: 2px 3px 5px rgba(0,0,0,0.2);	
	transition: 0.2s ease-in-out;
}
@media (max-width: 600px) {
	body{
		background-image:url('../img/media600leafbg.png');
	}
	#signup, #signin, #contactform{
		margin: auto;
		padding: 10px;
		width: auto;
		border-radius: 10px;
	}
}
@media (max-width: 600px) {
	body{
		background-image:url('../img/media600leafbg.png');
	}
	#signup{
		margin:20px;
		padding: 10px;
		width: auto;
		border-radius: 10px;
	}
	#signin{
		margin:20px;
		padding: 10px;
		width: auto;
		border-radius: 10px;
	}
}