@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
body{
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	color: #505962;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.main{
	max-width: 1200px;
	margin: 0 auto;
}
.logo-nav{
	margin: auto;
	padding: 5px 20px;
	margin-left: 30px;
}
.logo-nav img{
	height: 65px;
	width: 65px;	
}
.navbar{
	font-size: 1rem;	
}
.navbar a{
	text-decoration: none;
	color: #ffffff;
}
.bg-dark{
	background:#2B605E !important;
}
.navbar-nav li{
	padding-right: 10px;
}
.navbar-dark .navbar-nav .nav-link{
	color: #ffffff;
	padding-top: 10px;
}
/*carousel*/
#maincarousel{
	position: relative;
 	right:15px;
}
/* #maincarousel div #last{
	background-color: 	#212529;
	top:565px;
	position: absolute;
	padding: 0;
	margin: 0;
} */
.carousel-item{
	height: auto;
}

.carousel-control{
	font-size: 30px;
	margin: 0;
	padding: 2px;
	position: absolute;
	top:92%;
	right: 100%;
	z-index: 3;
	color: cadetblue;
    opacity :0.9;
}
.carousel-control a:hover{
	color: cadetblue !important;
}

#first-half > div:last-of-type{
	position: absolute;
	top:75px;
	/* z-index:-1000; */
	margin: auto;
}

#intro .head{
	color: #edeee4;
	margin-top: 100px;
	padding: 160px 10px ;
	height:500px;
	font-weight: 700;
	/* background-color:#d4dcdd84; */
}
.carousel-item{
	height: 100vh;
}
.size1{
	position: absolute;
	height: 190px;
	width: 202px;
}
.size2{	
	position: absolute;
	padding: 0;
	height:190px;
	width: 284px;
}
.size3{
	position: absolute;
	top:190px;
	height:240px;
	width: 482px;
}
#carousel-btn{
	visibility: hidden;
}
ul{
	list-style-type: none;
}
[class*="center"] h1{
	color: #2B605E;
}
[class*="left"] h1{
	color: #17a2b8;
}
.btn{
	display:inline-block;
	color:#212529;
}
.head{
	 margin-top: 300px;
	 height:500px;
}
.head2{
    margin: 10px 30px;
    margin-top: 20px;
	padding-top: 12px;
	padding-bottom: 12px;
}
.language{
	background-color: #ffffff;
	font-size: 16px;
}
.btn1{
	display: block;
	text-align:center;	
	width: 150px;
	margin: auto;
	margin-top: 40px;
	transform: translateZ(0);
	backface-visibility: hidden;
	font-weight:800;
	opacity: 1;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
	background-color: #f8f8f8;
	color: #2d615f;
	padding: 10px 10px;
	font-size:1rem;
	line-height:1.5;
	border-radius:8px;
	transition:color .15s ease-in-out,
	background-color .15s ease-in-out,
	border-color .15s ease-in-out,
	box-shadow .15s ease-in-out;
}
.btn-outline-info{
	border-color: #ffffff;
}
.btn:hover,.btn:active,.btn:focus{
	opacity:0.95;
	text-decoration: none;
	color: #f7f7f7;
	border-color:  2px #ffffff solid;
	background-color: #2d615f76;

}
/*SERVICES
#services h2,h3,h4,h5,h6,p, #about h2,h 3,h4,h5,h6,p{
	color: #ffffff;
}*/ 
.padding{	
	padding:10px 10px;
}
/*STORES*/
.gallery-block{
	padding-top: 60px;
	padding-bottom: 60px;
}
.gallery-block .heading{
	margin-bottom: 50px;
	text-align: center;

}
#new-arrivals{
	margin-top: 50px;
}
.gallery-block .heading h2{
	font-size:1.4rem;
	font-weight:bold;
	text-transform:uppercase;
}
.gallery-block .card-gallery h6{
	font-weight: bold;
	font-size: 17px;
}
.gallery-block .cards-gallery .card{

	transition: 0.4s ease;
}
.gallery-block .cards-gallery .card img{
	box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}
.gallery-block .cards-gallery .card-body{
	text-align: center;
}
.gallery-block .cards-gallery .card-body p{
	font-size: 15px;
}
.gallery-block .cards-gallery a{
	color: #212529;
}
.gallery-block .cards-gallery a:hover{
	text-decoration: none;
}
.gallery-block .cards-gallery .card{
	margin-bottom: 30px;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
}

/*footer*/
.logo img{
	padding:5px 5px;
	width: 70px;
	margin: 5px 5px;
	height: 70px;
	opacity: 0.4;
}
.logo img:hover{
	opacity: 0.9;
}
.social-media{
	font-size: 16px;
}
.social-media a{
	display: inline-block;
	text-decoration: none;	
}
.social-media a i{
		
	padding: 0 10px;
	text-decoration: none;
	color: #ffffff;
	opacity: 0.4;
}
.social-media i:hover,.stay i:active,.stay i:focus{

	text-decoration: none;
	color: #ffffff;
	opacity: 0.9;	
}
.padding{
	padding:20px 30px;
}
[class*="fa"]{
	padding: 10px 0;
}
footer{
	margin-top: 20px;
	background-color: #2B605E;
}
footer a{
	display:block;
	text-decoration: none;
}
footer .rights{
	margin: auto;
	margin-top: 12px;
}
footer .rights p  {	
	margin-bottom: -3px;
	text-align: center;
	color: #ffffff;
	opacity: 0.6;
	padding: -1px 0;
	font-size: 12px;
}
.footer-content{
	margin: auto;
	margin-top: 40px;
}
.footer-content a{
	font-size: 12px;
	text-decoration: none;
	text-decoration: none;
	color: #ffffff;
	opacity: 0.4;
}
.footer-content a:nth-child(2){
	padding-bottom: 20px;
}
.footer-content a:hover{
	text-decoration: underline;
	opacity: 0.9;
}
footer .text-center{
	margin-top: 10px;
	font-size: 17px;
	color: #ffffff;
}
footer .rights .text-center{
	padding: 0;
	margin-top: 2px;
	margin-bottom: -10px;
}
@media (min-width:500px){	
	.size1{
	    height:190px;
		width: 420px;
	}
	.size2{
		height:190px;
		width: 475px;
	}
	.size3{
		top:170px;
	    height:340px;
		width: 735px;
	}
	.size1 .slide-1 img, .size1 .slide-2 img, .size1 .slide-3 img,
	.size2 .slide-4 img, .size2 .slide-5 img, .size2 .slide-6 img,
	.size3 .slide-7 img, .size3 .slide-8 img, 
	.size3 .slide-9 img{
		width: 100%;
	}
	.size1 .slide-1 img{
		content: url('../img/slide-smedium-1.png')
	}
	.size1 .slide-2 img{
		content: url('../img/slide-smedium-2.png')
	}
	.size1 .slide-3 img{
		content: url('../img/slide-smedium-3.png')
	}
	.size2 .slide-4 img{
		content: url('../img/slide-smedium-4.png')
	}
	.size2 .slide-5 img{
		content: url('../img/slide-smedium-5.png')
	}
	.size2 .slide-6 img{
		content: url('../img/slide-smedium-6.png')
	}
	.size3 .slide-7 img{
		content: url('../img/slide-smedium-7.png')
	}
	.size3 .slide-8 img{
		content: url('../img/slide-smedium-8.png')
	}
	.size3 .slide-9 img{
		content: url('../img/slide-smedium-9.png')
	}
}
@media(min-width: 576px){
	.gallery-block .transform-on-hover{
		transition: 0.15s ease-in-out;
		background-color: white;
		box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
		margin-top: 15px;
		transform:translateZ(0);
	}
	.gallery-block .transform-on-hover:hover{ 
		transform: scale(1.02);
		box-shadow:0 10px 10px rgba(0,0,0,0.15);
	}
}
@media (min-width:734px){

	.size1{		
		height:200px;
		width: 298px;
	}
	.size2{
	    height:200px;
		width: 496px;
	}
	.size3{ 
	    height:325px;
		width: 767px;
	}

	.size1 .slide-1 img{
		content: url('../img/slide-sm-1.png')
	}
	.size1 .slide-2 img{
		content: url('../img/slide-sm-2.png')
	}
	.size1 .slide-3 img{
		content: url('../img/slide-sm-3.png')
	}
	.size2 .slide-4 img{
		content: url('../img/slide-sm-4.png')
	}
	.size2 .slide-5 img{
		content: url('../img/slide-sm-5.png')
	}
	.size2 .slide-6 img{
		content: url('../img/slide-sm-6.png')
	}
	.size3 .slide-7 img{
		content: url('../img/slide-sm-7.png')
	}
	.size3 .slide-8 img{
		content: url('../img/slide-sm-8.png')
	}
	.size3 .slide-9 img{
		content: url('../img/slide-sm-9.png')
	}

}
@media (min-width:768px){
	#intro .head{
		color: cadetblue;
	}
	.btn1{
		text-shadow: none;
		width: 130px;
		opacity: 0.6;
		font-weight: 500;
		padding: 10px 8px;
		border:2px solid  #2B605E;
		color: #05414b;
	}
	.btn-outline-info{
		border-color: #2B605E;
	}
	.btn:hover,.btn:active,.btn:focus{
		color: #ffffff;
		border-color:  #2B605E;
		background-color: #2B605E;
	}
	.carousel-item{
		height: auto;
	}
	.size1{
	    height:230px;
		width: 507px;	
	}
	.size2{
		left:100px;
	    height:230px;
		width: 570px;	
	}
	.size3{
	    height:340px;
		width: 991px;	
	}
	.size1 .slide-1 img{
		width: 100%;
		content: url('../img/slide-md-1.png')
	}
	.size1 .slide-2 img{
		width: 100%;
		content: url('../img/slide-md-2.png')
	}
	.size1 .slide-3 img{
		width: 100%;
		content: url('../img/slide-md-3.png')
	}
	.size2 .slide-4 img{
		width: 100%;
		content: url('../img/slide-md-4.png')
	}
	.size2 .slide-5 img{
		width: 100%;
		content: url('../img/slide-md-5.png')
	}
	.size2 .slide-6 img{
		width: 100%;
		content: url('../img/slide-md-6.png')
	}
	.size3 .slide-7 img{
		width: 100%;
		content: url('../img/slide-md-7.png')
	}
	.size3 .slide-8 img{
		width: 100%;
		content: url('../img/slide-md-8.png')
	}
	.size3 .slide-9 img{
		width: 100%;
		content: url('../img/slide-md-9.png')
	}
	#new-arrivals{
		margin-top: 100px;
	}
	.gallery-block .heading{
		padding: 10px;
		margin: 50px;
	}
}
@media (min-width:991px){
	#maincarousel{
		position: relative;
		left:50%;
		bottom: 10px;
	}
	#carousel-btn{
		visibility: visible;
	}
	.carousel-item{
		height: auto;
	}
	.size1{
	    height:230px;
		width: 407px;	
	}
	.size2{
		left:0px;
	    height:230px;
		width: 570px;	
	}
	.size3{
	    height:740px;
		width: 991px;	
	}
	.size1 .slide-1 img{
		width: 100%;
		content: url('../img/slide-md-1.png')
	}
	.size1 .slide-2 img{
		width: 100%;
		content: url('../img/slide-md-2.png')
	}
	.size1 .slide-3 img{
		width: 100%;
		content: url('../img/slide-md-3.png')
	}
	.size2 .slide-4 img{
		width: 100%;
		content: url('../img/slide-md-4.png')
	}
	.size2 .slide-5 img{
		width: 100%;
		content: url('../img/slide-md-5.png')
	}
	.size2 .slide-6 img{
		width: 100%;
		content: url('../img/slide-md-6.png')
	}
	.size3 .slide-7 img{
		width: 100%;
		content: url('../img/slide-md-7.png')
	}
	.size3 .slide-8 img{
		width: 100%;
		content: url('../img/slide-md-8.png')
	}
	.size3 .slide-9 img{
		width: 100%;
		content: url('../img/slide-md-9.png')
	}
}
@media (min-width:2100px){

	#maincarousel{
		position: relative;
		left:50%;
		bottom: 10px;
	}
	.carousel-item{
		height: auto;
	}
	.size1{
	    height:330px;
		width: 510px;	
	}
	.size2{
		left:20px;
	    height: 330px;
		width: 620px;	
	}
	.size3{
	    height:319px;
		width: 1050px;	
	}
	.size1 .slide-1 img{
		width: 100%;
		content: url('../img/slide-lg-1.png')
	}
	.size1 .slide-2 img{
		width: 100%;
		content: url('../img/slide-lg-2.png')
	}
	.size1 .slide-3 img{
		width: 100%;
		content: url('../img/slide-lg-3.png')
	}
	.size2 .slide-4 img{
		width: 100%;
		content: url('../img/slide-lg-4.png')
	}
	.size2 .slide-5 img{
		width: 100%;
		content: url('../img/slide-lg-5.png')
	}
	.size2 .slide-6 img{
		width: 100%;
		content: url('../img/slide-lg-6.png')
	}
	.size3 .slide-7 img{
		width: 100%;
		content: url('../img/slide-lg-7.png')
	}
	.size3 .slide-8 img{
		width: 100%;
		content: url('../img/slide-lg-8.png')
	}
	.size3 .slide-9 img{
		width: 100%;
		content: url('../img/slide-lg-9.png')
	}
}
