/*PRODUCTS*/
#products{
	margin-top: 30px;
}
.head2{
	padding-top: 12px;
	padding-bottom: 12px;
}
#products a img{
	height: 130px;
	width: 160px;
    transform: none;
    transition: 0.3s ease-in-out;
}
#products a img:hover{
    transform: scale(1.2);
}
#recipeCarousel{
    height: 140px;
    overflow: hidden !important;
}
.slider{
    padding: 0;
    margin: 0;
}
.controls a, .controls a:focus{
    display: block;
    margin-top: 45px;
    margin-bottom: 65px;
    height: 50px;
    width: 50px;
    font-size: 32px;
    color: cadetblue;
    opacity :0.6;
}
.controls a:hover, .controls a:active{
    color: cadetblue;
}
.slider-container{
    overflow: hidden !important;
}
@media  only screen and  (max-width: 768px){
    #products a img{
        height:80px;
        width: 100px;
        padding: 5 !important;
    }
    .controls a,  .controls a:focus{
        display: block;
        margin-top:15px;
        margin-bottom: 65px;
    }
}